@import "tailwindcss";

/* Aquí definimos tus colores personalizados al estilo de Tailwind v4 */
@theme {
  --color-dark: #1e2326;
  --color-dark-card: #252A2E;
  --color-primary: #1CB698;
  --color-primary-hover: #15967d;
}

@layer base {
  body {
    background-color: var(--color-dark);
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  ::selection {
    background-color: var(--color-primary);
    color: var(--color-dark);
  }

  html {
    scroll-behavior: smooth;
  }
}